*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    font-family: "Spartan", sans-serif;
    font-size: 15px;
    overflow-x: hidden;
}

.container {
    margin: auto auto;
    height: 100vh;
    background-image: 
        url("images/bg-pattern-top-desktop.svg"),
        url("images/bg-pattern-bottom-desktop.svg");
    background-repeat: no-repeat;
    background-position: 0% 0%, 100% 100%;
}

.container__main {
    max-width: 1050px;
    margin: 0px auto;
    padding-top: 100px;
}

.container__main__first {
    display: flex;
    justify-content: space-between;
}

.container__main__first__left {
    position: relative;
    left: -1000px;
    flex-basis: 480px;
    animation-name: to-right;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.17,.67,.57,1.18);
}

@keyframes to-right {
    to {
        left: 0;
    }
}

.container__main__first__left__title {
    color: hsl(300, 43%, 22%);
    font-size: 44px;
    font-weight: bold;
}

.container__main__first__left__desc {
    margin-top: 20px;
    line-height: 1.5;
    color: hsl(303, 10%, 53%);
    font-weight: 500;
}

.container__main__first__right {
    position: relative;
    right: -1000px;
    flex-basis: 450px;
    padding: 15px 0;
    animation-name: to-left;
    animation-duration: 800ms;
    animation-fill-mode: forwards;
    animation-timing-function: cubic-bezier(.17,.67,.57,1.18);
}

@keyframes to-left {
    to {
        right: 0;
    }
}


.container__main__first__right__rating {
    position: relative;
    margin-bottom: 15px;
    padding: 20px;
    display: flex;
    align-items: center;
    color: hsl(300, 43%, 22%);
    font-size: 14px;
    font-weight: 700;
    background-color: hsl(300, 24%, 96%);
    border-radius: 5px;
}

.container__main__first__right__rating:nth-child(1) {
    left: -35px;
}

.container__main__first__right__rating:nth-child(3) {
    right: -35px;
}

.container__main__first__right__rating__star {
    margin: 0 5px;
}

.container__main__first__right__rating__desc {
    margin-left: 20px;
}

.container__main__second {
    margin-top: 40px;
    display: flex;
}

.container__main__second__comment {
    margin-right: 5px;
    position: relative;
    padding: 40px 30px;
    flex-grow: 1;
    flex-basis: 350px;
    color: white;
    background-color: hsl(300, 43%, 22%);
    border-radius: 10px;
}

.container__main__second__comment:nth-child(1) {
    top: 400px;
    animation-name: to-top-first;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(.17,.67,.57,1.18);
    animation-fill-mode: forwards;
    
}

.container__main__second__comment:nth-child(2) {
    top: 20px;
    left: 20px;

    top: 400px;
    animation-name: to-top-second;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(.17,.67,.57,1.18);
    animation-fill-mode: forwards;
    animation-delay: 100ms;
}


.container__main__second__comment:nth-child(3) {
    top: 40px;
    left: 40px;

    top: 400px;
    animation-name: to-top-third;
    animation-duration: 800ms;
    animation-timing-function: cubic-bezier(.17,.67,.57,1.18);
    animation-fill-mode: forwards;
    animation-delay: 200ms;
}

@keyframes to-top-first {
    to {
        top: 0px;
    }
}

@keyframes to-top-second {
    to {
        top: 20px;
    }
}

@keyframes to-top-third {
    to {
        top: 40px;
    }
}


.container__main__second__comment__fore {
    display: flex;
    align-items: center;
}

.container__main__second__comment__fore__profile {
    width: 40px;
    border-radius: 50%;
}

.container__main__second__comment__fore__about {
    margin-left: 20px;
}

.container__main__second__comment__fore__about__name {
    font-weight: bold;
    margin-bottom: 5px;
}

.container__main__second__comment__fore__about__role {
    color: hsl(333, 80%, 67%);
    font-size: 14px;
}

.container__main__second__comment__content {
    margin-top: 30px;
    color: hsl(300, 24%, 96%);
    font-size: 13px;
    line-height: 1.5;
}

@media only screen and (max-width: 1150px) {
    .container {
        height: auto; 
    }


    .container__main__first {
        margin: 10px;
        flex-wrap: wrap;
        justify-content: center;
    }

    .container__main__first__right__rating {
        position: static;
        width: 100%;
    }

    .container__main__second {
        margin: 20px;
        flex-wrap: wrap;
    }

    .container__main__second__comment {
        position: static;
        margin: 10px;
    }
}

@media only screen and (max-width: 970px) {
    .container__main__first__left__title {
        text-align: center;
    }

    .container__main__first__left__desc {
        text-align: center;
    }

    .container__main__first__right {
        margin-top: 20px;
    }

    .container__main__first__right__rating {
        display: block;
        text-align: center;
    }

    .container__main__first__right__rating__desc {
        margin-top: 10px;
    }

    .container__main__second {
        margin: 10px;
    }

}
